body {
    background-color: #292929;
}
h1 {
	color: white;
    margin: auto;
	text-align: center;
    font-size: 5em;
    font-family: "Times New Roman", Times, serif;
    max-width:980px;
}

p {
    margin: 50px;
	color: white;
	text-align: left;
    font-size: 1.2em;
    font-family: "Arial", Helvetica, sans-serif;
    max-width:980px;
}
ul {
    margin: 50px;
	color: white;
	text-align: left;
    font-size: 1.2em;
    font-family: "Arial", Helvetica, sans-serif;
    max-width:980px;
}



img {
    display: block;
    margin: auto;
}

img.float {
    float: right;
    margin: 50px;
}





table {
    background-color: #b35900;
	border: solid
	text-align: center;
    font-size: 1.1em;
    font-family: "Arial", Helvetica, sans-serif;
    max-width:980px;
    margin: auto;
}




a:link {
    color: #262626; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: #262626;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #262626;
    background-color: transparent;
    text-decoration: underline;
}